/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --cor-de-fundo-destacado: #EAF2FD;
   --branco: white;
   --cor-destaque: #2A7AE4;
   --cor-destaque-desbotada: #5595E9;
   --fonte: #464646;
   --fonte-esmaecida: #868686;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol, ul, li {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--cor-de-link);
}

p{
    color: var(--fonte);
}

h1, h2, h3, h4, h5, h6{
    color: var(--fonte);
    margin: 16px 0;
    line-height: 1.25em;
}

.btn--destaque{
    color: var(--brancoo);
    background-color: var(--cor-destaque);
    height: 51px;
    width: auto;
    padding: 12px 16px;
    border: none;
    color: var(--branco);
    font-size: 16px;
}

.btn--borda{
    color: var(--brancoo);
    background-color: var(--branco);
    height: 51px;
    width: auto;
    padding: 12px 16px;
    border: none;
    color: var(--cor-destaque);
    border: solid 1px var(--cor-destaque);
    font-size: 16px;
}

.btn--destaque-compact{
    color: var(--brancoo);
    background-color: var(--cor-destaque);
    height: 40px;
    width: auto;
    padding: 12px 16px;
    border: none;
    color: var(--branco);
    font-size: 16px;
}

.btn--borda-compact{
    color: var(--brancoo);
    background-color: var(--branco);
    height: 40px;
    width: auto;
    padding: 12px 16px;
    border: none;
    color: var(--cor-destaque);
    border: solid 1px var(--cor-destaque);
    font-size: 16px;
}

/*Sessão Menu
Título do seu site;*/
section.menu{
    box-sizing: border-box;
    max-width: 1136px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    margin: 0 auto;
    margin-bottom: 50px;
}
/* estrelas e fulana de tal */
.menu header{
    display: flex;
    gap: 10px;
    align-items: center;
}
/* links do menu */
.menu__list{
    display: flex;
    gap: 20px;
    padding: 0;
    align-items: center;
}

.menu__list__item{
    font-size: 14px;
}
/*Sessão Title
Menu Principal;*/

section.title{
    box-sizing: border-box;
    max-width: 1136px;
    padding: 20px 20px;
    margin: 0 auto;
}

.title__div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Olá, meu nome é... */
.title__container{
    display: flex;
    flex-direction: column;
}
/* links redes sociais */
.title__network{
    display: flex;
    gap: 40px;
    padding: 0
}

.title__bio{
    font-size: 52px;
}

.title__subsection{
    font-size: 22px;
    font-weight: 300;
}

/*Sessão About
Seção Sobre Mim;*/
section.about{
    background-color: var(--cor-de-fundo-destacado);
    background-size: cover;
}

.about__container{
    box-sizing: border-box;
    padding: 40px 20px;
    margin: 0 auto;
    max-width: 1136px;
    box-sizing: border-box;
}

.about__paragraph{
    max-width: 751px;
    font-size: 16px;
}

.about__title{
    font-size: 32px;
}
/*Sessão Hobbies
Seção Hobbies e Soft Skills*/
section.hobbies, section.skills{
    box-sizing: border-box;
    max-width: 1136px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
    margin: 0 auto;
    gap:32px;
    margin-bottom: 50px
}

.skills__title,
.hobbies__title{
    text-align: center;
    font-size: 32px;
}

.skills__line,
.hobbies__line{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.skills__name,
.hobbies__name{
    font-size: 16px;
    font-weight: bold;
}

.skills__box,
.hobbies__box{
    width: 176px;
    height: 174px;
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills__box ul,
.hobbies__box ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/* Experiência Acadêmica
Seção Formações + Cursos;*/
section.academic{
    background-color: var(--cor-de-fundo-destacado);
    background-size: cover;
}

.academic__container{
    box-sizing: border-box;
    padding: 60px 20px;
    margin: 0 auto;
    max-width: 1136px;
    box-sizing: border-box;
}

.academic__title{
    text-align: center;
    font-size: 32px;
}

.academic__courses{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.academic__courses__list{
    display: flex;
    flex-direction: column;
    padding: 0
}

.academic__courses__item__img{
    width: 300px;
    height: 200px;
    background-color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
}

.academic__courses__item__title h4{
    font-size: 22px;
    margin: 8px 0;
}

.academic__courses__item__subtitle p{
    margin: 8px 0;
}

/* experiência
Seção Experiência em programação;*/

section.experience{
    box-sizing: border-box;
    max-width: 1136px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
    margin: 0 auto;
}

.experience__section__title{
    text-align: center;
    margin-bottom: 50px;
    font-size: 32px;
}

.experiencie__box{
    display: flex;
    gap: 26px;
    justify-content: center;
    align-items: center;
}

.experience__title h2{
    margin: 2px 0;
}

.experience__text{
    font-weight: 400;
}

.experience__img{
    width: 752px;
    height: 406px;
    margin-bottom: 50px;
}

.experience__description{
    display: flex;
    gap: 16px;
}

/*Contato
Formulário de Contato;*/

section.formcontato{
    background-color: var(--cor-de-fundo-destacado);
    background-size: cover;
    padding: 50px;
}

.formcontato__container{
    box-sizing: border-box;
    max-width: 1136px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
    margin: 0 auto;
}

.formcontato__contacto{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items:start;
}

.formcontato__form{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.formcontato__input,
.formcontato__textarea{
    border: none;
}

.formcontato__title{
    font-size: 32px;
}

.formcontato__subtext{
    margin: 4px 0;
    font-size: 16px;
    font-weight: 300;
}

.formcontato__form{
    margin: 36px 0;
}

.formcontato__input,
.formcontato__textarea{
    height: 56px;
    padding: 0 16px;
    font-size: 16px;
}

.formcontato__input:focus,
.formcontato__textarea:focus{
    outline: none;
    box-shadow: inset 0 -2px 0 0 var(--cor-destaque);
}

.formcontato__input::placeholder,
.formcontato__textarea::placeholder{
    position: absolute;
    top: 4px;
    left: 4px;
    color: var(--fonte-esmaecida);
    font-size: smaller;
}

/*footeer
Rodapé.*/

section.footer{
    box-sizing: border-box;
    max-width: 1136px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
    margin: 0 auto;
}

.footer__rodape p{
    text-align: center;
    margin: 6px 0;
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (max-width: 980px) {

    .menu__list__item{
        display: none;
    }

    .title__div{
        flex-direction: column;
    }

    .title__profile{
        order: 1;
        width: 250px;
    }

    .title__container{
        order: 2;
    }

    .title__div{
        gap: 10px;
    }

    .about__paragraph{
        font-size: 14px;
    }

    .skills__line,
    .hobbies__line{
        flex-wrap: wrap;
    }

    .skills__box,
    .hobbies__box{
        width: 224px;
        height: 118px;
        background-color: var(--branco);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .academic__courses__item__img{
        width: 224px;
        height: 118px;
        background-color: var(--branco);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .academic__courses__item__img img{
        width: 70px;
        height: 48px;
    }

    .experiencie__box{
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .experience__info{
        order: 2;
        margin: 0 0 30px 0;
    }

    .experience__img{
        order: 1;
        margin-bottom: 8px;
    }

    .experience__title{
        font-size: 16px;
        margin: 6px 0;
    }

    .experience__text{
        font-size: 14px;
        margin: 6px 0;
    }

    .formcontato__img{
        display: none;
    }
}

@media (max-width: 760px) {

    .title__profile{
        width: 200px;
    }

    .skills__line,
    .hobbies__line{
        justify-content: space-evenly;

        gap: 0;
    }

    .skills__box,
    .hobbies__box{
        margin: 10px;
    }

    .title__div{
        gap: 15px;
    }

    .academic__courses{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .academic__courses__item__img{
        height: 118px;
        width: 296px;
    }

    .experience__img{
        max-height: 144pc;
    }
}